.slide-layout{
    font-size: 1rem;
}

.norm {
    font-family: 'Open Sans';
    font-size: 0.8rem;
    line-height: 1.5em;
}

.hl {
    font-family: 'Open Sans';
    font-size: 1.1rem;
    font-weight: bold;
}

.hl-color {
    font-family: 'Open Sans';
    font-size: 1.15rem;
    font-weight: bolder;
    color: #5D8392;
}

.hl-strong {
    font-family: 'Open Sans';
    font-size: 1.15rem;
    font-weight: bolder;
    color: #357EC7;
}

.hl-bg {
    font-family: 'Open Sans';
    font-weight: 600;
    background-color: #f4f0ec;
    padding: 1px 4px 2px 4px;
    border-radius: 4px;
}

.uline {
    text-decoration: #357EC7 underline wavy;
}

.katex {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 0.8rem !important;
    color: #357EC7;
    line-height: 1.5em;
}


table.ops {
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
    font-family: 'Open Sans';
    text-align: left;
}


table.ops thead th {
    font-weight: bold;
    color: #ffffff;
	padding: 8px;
	background-color: #4472c4;
    border-width: 3px 1px;
    border-style: solid;
    border-color: #ffffff;
}

table.ops th, table.ops td {
    width: 20%;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

table.ops td {
    color: #357EC7;
}

table.ops tr.odd {
	background-color: #cfd5ea;
}

table.ops tr.even {
	background-color: #e9ebf5;
}


table.flashcard {
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
    font-family: 'Open Sans';
    font-size: 15px;
    text-align: left;
}


table.flashcard thead th {
    height: 10px;
    color: #ffffff;
	padding: 0px;
	background-color: #4472c4;
    border-width: 3px 1px;
    border-style: solid;
    border-color: #ffffff;
}

table.flashcard th, table.flashcard td {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

table.flashcard th {
    vertical-align: top;
}

table.flashcard tr.odd {
	background-color: #cfd5ea;
}

table.flashcard tr.even {
	background-color: #e9ebf5;
}
